body {
    background-color: #FAFAFA;
    font:14px "微软雅黑";
}
input {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  height: -webkit-calc(44px);
  height: calc(44px);
  margin: 0 0 6px;
  padding: 14px;
  border: 1px solid #cccccc;
  border-radius: 6px;
  background: #fff;
  resize: none;
  outline: none;
}
input[required]:focus {
  border-color: #00bafa;
}
input[required]:focus + label[placeholder]:before {
  color: #00bafa;
}
input[required]:focus + label[placeholder]:before,
input[required]:valid + label[placeholder]:before {
  -webkit-transition-duration: .2s;
  transition-duration: .2s;
  -webkit-transform: translate(0, -21px) scale(0.9, 0.9);
  -ms-transform: translate(0, -21px) scale(0.9, 0.9);
  transform: translate(0, -21px) scale(0.9, 0.9);
}
input[required]:invalid + label[placeholder][alt]:before {
  content: attr(alt);
}
input[required] + label[placeholder] {
  display: block;
  pointer-events: none;
  line-height: 32px;
  margin-top: -webkit-calc(-44px);
  margin-top: calc(-44px);
  margin-bottom: -webkit-calc(30px);
  margin-bottom: calc(30px);
}
input[required] + label[placeholder]:before {
  content: attr(placeholder);
  display: inline-block;
  margin: 0 -webkit-calc(16px);
  margin: 0 calc(16px);
  padding: 0 2px;
  color: #898989;
  white-space: nowrap;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#ffffff));
  background-image: -webkit-linear-gradient(top, #ffffff, #ffffff);
  background-image: linear-gradient(to bottom, #ffffff, #ffffff);
  -webkit-background-size: 100% 5px;
  background-size: 100% 5px;
  background-repeat: no-repeat;
  background-position: center;
}